Package: ibus-bamboo
Version: 0.1.7
Architecture: amd64
Maintainer: Luong Thanh Lam <ltlam93@gmail.com>
Installed-Size: 4373
Depends: ibus
Section: utils
Priority: extra
Homepage: https://github.com/BambooEngine/ibus-bamboo
Description: A Vietnamese IME for IBus using BambooEngine.
 Bộ gõ tiếng Việt cho IBus sử dụng BambooEngine.
